{
  "env": {
    "server": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current"
            }
          }
        ],
        "react"
      ],
      "plugins": [
        "transform-async-to-generator",
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-regenerator"
      ]
    },
    "client-dev": {
      "presets": [
        "react-hmre",
        [
          "env",
          {
            "targets": {
              "node": "current"
            }
          }
        ],
        "react"
      ],
      "plugins": [
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-regenerator",
      ]
    },
    "client-build": {
      "presets": [
        [
          "env",
          {
            "targets": {
              "node": "current"
            }
          }
        ],
        "react"
      ],
      "plugins": [
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-regenerator"
      ]
    }
  }
}
