@import "../common/mixins";
@import "../common/variables";

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes test {
  from {
    width: 0;
  }
  to {
    width: auto;
  }
}
#main {
  background: white;
  .header {
    max-width: 1440px;
    margin: 0 auto;
    .ant-menu-item:first-child {
      padding-left: 0;
    }
    .ant-menu-item:last-child {
      padding-right: 0;
    }
  }
  .description {
    font-weight: 350;
  }
  .main-bg {

    height: 427px;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    position: relative;
    justify-content: flex-start;
    .left-pattern {
      height: 100%;
      flex-basis: 60%;
      background: url("/static/images/bg_main_left_pattern.png") center center repeat-x;
      background-position-y: 62%;
      //animation: fadeins 3s;
    }

    .center {
      height: 100%;
      flex-basis: 70%;
      max-width: 750px;
      background: url("/static/images/bg_main.png") center center no-repeat;
      background-position-y: 62%;
      //animation: fadein 2s;

    }

    .right-pattern {
      height: 100%;
      flex: 1;
      background: url("/static/images/bg_main_right_pattern.png") center center repeat-x;
    }
    .title {
      position: absolute;
      top: 202px;
      left: 20%;
      color: white;
      font-weight: bold;
      letter-spacing: 0.03em;
      //animation: test 3s;
    }
    .description {
      position: absolute;
      top: 292px;
      font-weight: normal;
      left: 20%;
      color: $font-default-black;
      //animation: test 3s;
    }
  }

  .intro {
    padding: 10rem;
    img {
      display: block;
      margin: 0 auto;
      &.logo {
        width: 167px;
        height: 167px;
      }
      &.gxc {
        margin-top: 30px;
        width: 120px;
      }
    }
    .title, .description {
      margin: 20px auto 0;
      text-align: center;
    }
    .title {
      font-weight: bold;
      line-height: 140%;
    }
    .description {
      line-height: 170%;
      font-weight: 350;

    }
  }

  .advantages {
    div.container-fluid {
      height: 540px;
      display: flex;
      align-content: flex-end;
      flex-direction: row;
      align-items: center;
      padding: 0 15px;
      max-width: 960px;
      .right {
        margin-left: auto;
      }
      .description {
        line-height: 180%;
        font-weight: 350;
      }
      .title {
        font-weight: bold;
        font-size: 34px;
      }
    }
    .reward {
      background-image: url('/static/images/bg_reward.png');
      background-size: cover;
    }
    .p2p {
      background-image: url('/static/images/bg_p2p.png');
      background-size: cover;
    }
    .commission {
      background-image: url('/static/images/bg_commission.png');
      background-size: cover;
    }
  }
  .whitepaper {
    background-image: url('/static/images/bg_whitepaper.png');
    background-size: cover;
    height: 620px;
    padding: 108px 0;
    text-align: center;
    display: flex;
    //align-content: flex-end;
    flex-direction: column;
    position: relative;
    .logo {
      margin-bottom: 30px;
    }
    > * {
      margin: 0 auto;
    }
    .description {
      margin-top: 12px;
      font-weight: 400;
    }
    .links {
      justify-content: center;
      //position: absolute;
      margin-top: 35px;
      display: flex;
      //bottom: 20px;

      .link-to-whitepaper {
        width: 62px;
        height: 62px;
        margin-right: 4rem;
        display: block;
        color: white;
        padding: 22px 0;
        font-size: 14px;
        position: relative;
        z-index: 3;

        &.english {
          @include rotated_rec(#ff4b34, 62px);
        }
        &.japanese {
          @include rotated_rec(#ffd111, 62px);
        }
        &.korean {
          @include rotated_rec(#33ba20, 62px);
        }
        &.chinese {
          @include rotated_rec(#0070be, 62px);
        }
      }
    }
  }
  .members {
    .member {
      margin: 0 auto;
      max-width: 960px;
      display: flex;
      margin-bottom: 3rem;
      align-items: center;
      .image-box {
        flex-basis: content;
        display: flex;
        img {
          width: 200px;
          height: 200px;
        }
      }
      .texts {
        flex-basis: fill;
        text-align: left;
        margin-left: 40px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        .name {
          font-size: 24px;
          font-weight: 500;
        }
        .role {
          color: #9b9b9b;
        }
        .description {
          margin-top: 1rem;
          -ms-word-break: break-all;
          word-break: break-all;
          font-size: 15px;
          line-height: 170%;
        }
      }
    }
  }
  .advisors {
    .advisor {
      padding: 20px 0;
      height: 300px;

      .react-reveal {
      display: flex;
      flex-direction: row;
      align-items: center;
      }
      img {
        width: 200px;
        height: 200px;
      }
      .texts {
        text-align: left;
        padding: 0 30px;
        .name {
          font-size: 24px;
          font-weight: 500;
          margin-bottom: 0;
        }
        .role {
          color: #9b9b9b;
          font-size: 16px;
        }
        .description {
          margin-top: 10px;
          font-size: 15px;
          -ms-word-break: break-all;
          word-break: break-all;
          line-height: 170%;
        }
      }
    }
  }
  .section-type-1 {
    position: relative;
    min-height: 500px;
    padding: 50px 30px;
    text-align: center;
    margin: 0 auto;
    > .title {
      margin-bottom: 70px;
    }
  }

  .roadmap {
    height: 2500px;
    max-width: 980px;
    > .title {
      margin-bottom: 11px;
    }
    .content {
      margin-top: 30px;
      background: url('/static/images/bg_roadmap.svg') center 0px no-repeat;
      display: flex;
      flex-direction: column;
    }
    .quarter {
      height: 305px;
      display: flex;
      align-items: center;
      //width: 40%;
      &:first-child {
        margin-top: -26px;
      }
      &:nth-child(2n) {
        //margin-left: auto;
      }
      &:nth-child(2n+1) {
      }
      .title {
        font-size: 20px;
        text-align: left;
        //margin-left: 8rem;
      }
      .description {
        font-size: 16px;
      }
      li {
        list-style: circle;
      }
    }
  }
  .partners {
    ul {

      .react-reveal {
        display: flex;
        justify-content: space-around;
      }
      li {
        padding: 0 20px;
        vertical-align: middle;
        &.xlgames img {
          height: 50px;
        }
      }
      li img {
        height: 60px;
      }
    }
  }
  .subscribe {
    background: #0070be;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    h1, h3 {
      color: white;
    }
    .title {
      margin-bottom: 0;
    }
    .description {
      font-size: 16px;
      font-weight: normal;
      margin-bottom: 42px;
    }

    .ant-input-search-button {
      background: #ffd111;
      border: #ffd111;
    }

    .ant-input-search {
      max-width: 920px;
      height: 60px;
      .ant-input-search-button {
        height: 60px;
      }
    }
  }

  @media (max-width: $screen-xl) {
    .main-bg {
      height: 327px;
      .title {
        left: 3%;
        font-size: 25px;
        top: 160px;
      }
      .description {
        left: 3%;
        font-size: 14px;
        top: 230px;
      }
    }
  }
  @media (max-width: $screen-lg) {
    .header {
      &.ant-layout-header {
        padding: 0 20px;
      }
      .ant-menu-item {
        padding: 0 20px;
      }
    }
    .main-bg {
      height: 327px;
      .title {
        font-size: 25px;
        top: 160px;
      }
      .description {
        font-size: 14px;
        top: 230px;
      }
    }
  }
  @media (max-width: $screen-md) {
    .header {
      .logo-box {
        img {
          &.gxc {
            display: none;
          }
        }
      }
    }
    .main-bg {
      height: 280px;
      .left-pattern {
        background-position-y: 65.2%;
      }
      .center {
        flex-basis: 100%;
        background-size: cover;
      }
      .title {
        top: 120px;
      }
      .description {
        top: 12rem;
        color: black;
      }
    }
  }
  @media (max-width: $screen-sm) {
    .section-type-1 {
      padding: 30px 15px;
    }
    #logo {
      padding-top: 80px;
    }
    .main-bg {
      height: 170px;
      .center {
        flex-basis: 100%;
        background-size: cover;
      }
      .title {
        top: 70px;
        left: 20px;
        font-size: 20px;
        left: 50%;
        transform: translate(-50%, 0);
      }
      .description {
        top: 120px;
        left: 20px;
        right: 20px;
        color: black;
        font-size: 13px;
        text-align: center;
      }
      .left-pattern {
        display: none;
      }
    }
    .intro {
      padding: 2rem;
    }
    .advantages {
      div.container-fluid {
        flex-direction: row;
        height: 300px;
        .title {
          font-size: 22px;
        }
        .description {
          font-size: 12px;
          -ms-word-break: break-all;
          word-break: break-all;
        }
        img {
          width: 7rem;
          &:first-child {
            margin-right: 8px;
          }
        }
        h4:first-child {
          margin-right: 8px;
        }
      }
    }
    .whitepaper {
      .links {
        text-align: center;
        .link-to-whitepaper {
          width: 60px;
          height: 60px;
          margin-right: 2rem;
          display: inline-block;

          color: white;
          padding: 18px 0;
          font-size: 14px;
          position: relative;
          z-index: 3;

          &.english {
            @include rotated_rec(#ff4b34, 60px);
          }
          &.japanese {
            @include rotated_rec(#ffd111, 60px);
          }
          &.korean {
            @include rotated_rec(#33ba20, 60px);
          }
          &.chinese {
            @include rotated_rec(#0070be, 60px);
          }
          &:last-child {
            margin-right: 0;
          }
        }
      }
    }
    .members {
      ul {
        li.member {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 0 1.5rem;
          .image-box {
            img {
              display: flex;
              width: 180px;
              height: 180px;
            }
          }
          .texts {
            margin-left: 0;
            margin-top: 12px;
            .name, .role {
              text-align: center;
            }
            .name {
              margin-bottom: 0px;
            }
            .description {
              margin-top: 3px;
              font-size: 14px;
              line-height: 180%;
              margin-top: 12px;
            }
          }
        }
      }
    }
    .advisors {
      .advisor {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        justify-content: center;
        align-content: center;
        &:not(:first-child) {
          margin-top: 15px;
        }
        img {
          width: 180px;
          height: 180px;
        }
        .texts {
          padding: 5px;
          .name {
            margin-top: 5px;
            font-size: 20px;
            text-align: center;
          }
          .description {
            margin-top: 12px;
            font-size: 14px;
            line-height: 180%;
            text-align: center;
          }
        }
      }
    }
    .roadmap {
      height: 1320px;

      .content {
        background-position-y: 0px;
        background-position-x: 10%;
        background-size: contain;
      }

      .quarter {
        &:first-child {
          margin-top: -23px;
          padding-top: 33px;
        }
        .title {
          font-size: 14px;
        }
        .description {
          font-size: 12px;
        }
        margin-left: 45%;
        width: 55%;
        height: 150.5px;
      }
    }
    .partners {
      ul {
        flex-direction: column;
        li {
          margin: 1rem 0;

          .description {

          }
        }
      }
    }
    .subscribe {
      min-height: 400px;
    }
  }
}



